.ipynb_checkpoints
analysis/*/*.nb.html
analysis/*/*.ipynb
*.Rproj
work
containers
data
.nextflow*
.vscode
*.sif
*.xlsx
*gencode.v43_gene_annotation_table.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class