/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  vjmarteau/nf-scRNAseq-organoids-calprotectin Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'vjmarteau/nf-scRNAseq-organoids-calprotectin'
    author           = 'Valentin Marteau'
    description      = 'nf-pipeline for scRNAseq organoids treated with calprotectin data analysis'
    nextflowVersion  = '>=22.04'
    version          = 'v0.0.1'
}

// Global default params, used in configs
params {

  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode = "copy"

  // Workflow flags
  resDir        = "${baseDir}/results"
  input_path    = "/data/projects/2022/Adolph-scRNA-organoids/01_nfcore_scrnaseq"
  samplesheet   = "${baseDir}/tables/samplesheet.csv"
}

process {

container = "${baseDir}/envs/calproPy.sif" // Run all above processes in same singularity container

  // Per-process configuration
  withName: LOAD_ADATA {
      publishDir = [path: { "${params.resDir}/scRNAseq/dat" }, mode: params.publish_dir_mode]
  }
  withName: H5AD_TO_SEURAT {
      publishDir = [path: { "${params.resDir}/scRNAseq/r-dat" }, mode: params.publish_dir_mode]
  }
}

conda {
    useMamba = true
}

singularity {
    enabled = true
    runOptions = "--no-home --env NUMBA_CACHE_DIR=/tmp/\$USER/numba_cache_dir" // "--no-home" prevents using packages stored in local home dir
    autoMounts = true
}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.penv = 'smp'
        process.queueSize = 600
      //process.clusterOptions = { '-V -S /bin/bash -q all.q' }
        process.clusterOptions = { '-V -S /bin/bash -q all.q@apollo-0[0-9]' }
        
    }
}