
process {

container = "${baseDir}/envs/2022-calpro-scanpy.sif" // Run all above processes in same singularity container

  // Per-process configuration
  

  // Per-process configuration
withName: ".*Remove_ambient_RNA_scAR.*" {
        publishDir = [
            path: { "${params.outdir}/artifacts/${task.process.tokenize(':')[-2].toLowerCase()}/${task.process.tokenize(':')[-1].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
  
  withName: "JUPYTER.*" {
        ext.kernel = "python3"
        // container = "${projectDir}/containers/2022-schneeberger-liver-scanpy_2022-10-24.sif"
        //container = null
        //conda = "/data/projects/2022/CRCA/envs/2022-crca-scanpy"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
        cpus = 2
    }
  withName: "RMARKDOWN.*" {
        container = null
        conda = "/home/marteau/.conda/envs/test_render_r"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
        cpus = 2
    }
  withName: EXTRACT_ADATA {
    publishDir = [path: { "${params.outdir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: ASSEMBLE_SEURAT {
    publishDir = [path: { "${params.outdir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
  withName: ASSEMBLE_SCE {
    publishDir = [path: { "${params.outdir}/artifacts/${task.process}" }, mode: params.publish_dir_mode]
  }
withLabel: Rscript {
      container = "${baseDir}/envs/2022-calpro-deseq.sif"
  }
withLabel: gpu {
      clusterOptions = { '-V -S /bin/bash -l gpu' }
      containerOptions = "--nv"
  }

withLabel: extra_cpus {
        cpus = 12
    }

}
